<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="dlgUpload">
		<bg>#000000</bg>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<style>wxNO_BORDER</style>
		<object class="wxBoxSizer" variable="BoxSizer1" member="no">
			<orient>wxVERTICAL</orient>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT30" variable="m_pstHostname" member="yes">
					<label></label>
					<fg>#FFFFFF</fg>
					<bg>#008040</bg>
					<font>
						<size>24</size>
						<style>normal</style>
						<weight>bold</weight>
						<underlined>0</underlined>
						<family>swiss</family>
						<face>Arial</face>
					</font>
					<minsize>800,40</minsize>
					<style>wxST_NO_AUTORESIZE|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</style>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>2</border>
			</object>
			<object class="spacer">
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT1" variable="m_pstDetails" member="yes">
					<label></label>
					<fg>#FFFFFF</fg>
					<font>
						<size>24</size>
						<style>normal</style>
						<weight>bold</weight>
						<underlined>0</underlined>
						<family>swiss</family>
						<face>Arial</face>
					</font>
					<minsize>800,40</minsize>
					<style>wxST_NO_AUTORESIZE|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</style>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>2</border>
			</object>
			<object class="sizeritem">
				<object class="Custom" name="ID_CUSTOM1" subclass="Progress" variable="m_pGuage" member="yes">
					<creating_code>$(THIS) = new $(CLASS)($(PARENT),$(ID),$(POS),$(SIZE),$(STYLE));</creating_code>
					<include_file>progress.h</include_file>
					<local_include>1</local_include>
					<fg>#0098E1</fg>
					<bg>#000000</bg>
					<font>
						<size>12</size>
						<style>normal</style>
						<weight>normal</weight>
						<underlined>0</underlined>
						<family>swiss</family>
						<face>Arial</face>
					</font>
				</object>
				<flag>wxLEFT|wxRIGHT|wxEXPAND</flag>
				<border>20</border>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT2" variable="m_pstProgress" member="yes">
					<label></label>
					<fg>#0098E6</fg>
					<font>
						<size>14</size>
						<style>normal</style>
						<weight>normal</weight>
						<underlined>0</underlined>
						<family>swiss</family>
						<face>Arial</face>
					</font>
					<minsize>800,40</minsize>
					<style>wxST_NO_AUTORESIZE|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</style>
				</object>
				<flag>wxALL|wxEXPAND</flag>
			</object>
			<object class="spacer">
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wmButton" name="ID_BUTTON_CANCEL" variable="m_pbtnCancel" member="yes">
					<label>Cancel</label>
					<handler function="OnbtnCancelClick" entry="EVT_BUTTON" />
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
			</object>
		</object>
	</object>
</wxsmith>
