# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
**/bin
**/build

# Codeblocks
*.depend
*.layout

/controller/obj/Debug/controller
/controller/obj/Debug/*.res
/controller/obj/Release/controller/*.res
